{% form_theme form 'form/_form_theme.html.twig' %}

{{ form_start(form) }}

<div class="row col-md-12">
  <div class="col-md-6">{{ form_row(form.titre) }}</div>
  <div class="col-md-6">{{ form_row(form.modalite) }}</div>
</div>

<div class="row col-md-12">
  <div class="col-md-12">{{ form_row(form.objectifs) }}</div>
</div>

<div class="row">
  <div class="col-md-4">{{ form_row(form.dureeHeures) }}</div>
  <div class="col-md-4">{{ form_row(form.casPratiques) }}</div>
  <div class="row">
    <div class="col-md-4">{{ form_row(form.prix) }}</div>
  </div>
  
  {# Your custom checkbox #}
  <div class="col-md-6 mb-3">
    <div class="form-check">
      <input type="checkbox" id="formations_testValidation" name="utilisateur[testValidation]" class="form-check-input" value="1" checked />
      <label for="formations_testValidation" class="form-check-label fw-bold">Test Validation</label>
    </div>
  </div>
   <div class="col-md-6 mb-3">
        {{ form_label(form.photo, 'Photo', { label_attr: { class: 'form-label fw-bold' } }) }}
        
        {% if service is defined and service.photo %}
            <div class="mb-2">
                <img src="{{ asset('uploads/logos/' ~ service.photo) }}" alt="" 
                     class="img-thumbnail" style="max-height: 100px;">
            </div>
        {% endif %}
        
        <div class="custom-file">
            {{ form_widget(form.photo, { attr: { class: 'custom-file-input', id: 'logoUpload' } }) }}
            <label class="custom-file-label" for="logoUpload">Choose file...</label>
        </div>
        {{ form_errors(form.photo) }}
    </div>
    <div class="col-md-6 mb-3">
    {{ form_label(form.video, 'Vidéo', { label_attr: { class: 'form-label fw-bold' } }) }}

    {% if service is defined and service.video %}
        <div class="mb-2">
            <video width="320" height="240" controls class="img-thumbnail" style="max-height: 150px;">
                <source src="{{ asset('uploads/videos/' ~ service.video) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    {% endif %}

    <div class="custom-file">
        {{ form_widget(form.video, { attr: { class: 'custom-file-input', id: 'videoUpload' } }) }}
        <label class="custom-file-label" for="videoUpload">Choose file...</label>
    </div>
    {{ form_errors(form.video) }}
</div>
</div>

{{ form_widget(form._token) }}

<div class="mt-3">
  <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
  <a href="{{ path('app_formations_index') }}" class="btn btn-secondary">Back to list</a>
</div>

{{ form_end(form, { render_rest: false }) }}
